<h1>New filter</h1>

<%= start_form_tag({ :action => 'create'}, :enctype => 'multipart/form-data') %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>
