Dear <%= @first_name %> <%= @last_name %>,

Thank you for submitting your patch '<%= @patch_name %>':
<%= @url %>

We will compile it and run other tests with it.  By using PLM you show
your support for OSDL and we appreciate your efforts.

Please email us at plm-devel@lists.sourceforge.net with any comments or
questions.

Sincerely,
The PLM Development Team
