<tr>
  <td><%= filter_request.filter[:name] %></td>
  <td><%= filter_request[:result_detail] %></td>
  <td class="<%= filter_request[:result] %>" align="center">
  <% if filter_request[:result].nil? %>
    <%= filter_request[:state] %>
  <% else %>
    <%= link_to filter_request[:result], :controller => 'filter_requests',
        :action => 'output', :id => filter_request[:id] %>
  <% end %>
  </td>
</tr>
