\subsection{PLM}
The PLM::PLM:: module space has the following sub-modules:

\begin{itemize}
\item Filter.pm
\end{itemize}

<text description here>

\subsubsection{Filter.pm}
\index{PLM::PLM::Filter.pm}


\begin{verbatim}
new()
\end{verbatim}
\index{PLM::PLM::Filter.pm!new()}
<text description here>

\begin{verbatim}
debug( $value )
\end{verbatim}
\index{PLM::PLM::Filter.pm!debug()}
<text description here>

\begin{verbatim}
add( $xml_ref )
\end{verbatim}
\index{PLM::PLM::Filter.pm!add()}
<text description here>

