<p>
  <b>Name:</b> <%= @filter['name'] %><br/>
  <b>Software:</b> <%= @filter.software['name'] %><br/>
  <b>Type:</b> <%= @filter.filter_type['code'] %><br/>
  <b>Filename:</b> <%= @filter['filename'] %><br/>
  <b>Runtime:</b> <%= @filter['runtime'] %><br/>
  <b>File:</b>
    <pre>
<%= @filter['file'] %>
    </pre>
</p>

<%= link_to 'Edit', :action => 'edit', :id => @filter %> |
<%= link_to 'Back', :action => 'list' %>
