<tr>
  <td><%= filter[:name] %></td>
  <td><%= filter[:result_detail] %></td>
  <td class="<%= filter[:result] %>" align="center">
  <% if filter[:result].nil? %>
    <%= filter['state'] %>
  <% else %>
    <%= link_to filter[:result], :controller => 'filters',
        :action => 'output', :id => filter[:id] %>
  <% end %>
  </td>
</tr>
