<tr>
  <td>
    <%= link_to list[:name], :action => 'show',
        :id => url_encode(list[:name]) %>
  </td>
<% if list['patch_id'].nil? then %>
  <td>[ none - baseline ]</td>
<% else %>
  <td>
    <% patch = Patch.find(list['patch_id'], :select => 'name') %>
    <%= link_to patch['name'], :action => 'show', :id => url_encode(patch['name']) unless patch.nil? %>
  </td>
<% end %>
  <td><%= list[:created_on] %></td>
</tr>
