<h1>Login</h1>

<h3>Please Login</h3>

<%= start_form_tag :action => 'authenticate' %>

<p>
  Username: <%= text_field 'user', 'login', :size => 30 %>
</p>

<p>
  Password: <%= password_field 'user', 'password', :size => 30,
      :maxlength => 80 %>
</p>

<p>
  <%= submit_tag 'Login' %>
</p>

<%= end_form_tag %>

<h4>To sign up for a new account, please click
<a href="http://osdl.org/join_form">here</a>.</h4>
